.tiktok-hsy0fo-DivContainer {
    position: fixed;
    inset: 0px;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    z-index: 1001;
}

.tiktok-1xw8s8f-DivMask {
    pointer-events: auto;
    position: absolute;
    inset: 0px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    transition: opacity 0.3s ease 0s;
    opacity: 1;
}

.tiktok-lzx7z-DivBodyWrapper {
    pointer-events: auto;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 12px 12px 0px 0px;
    max-height: 600px;
    transition: transform 0.3s ease 0s;
    transform: none;
    overflow: hidden;
}

.tiktok-y6j27-DivCloseWrapper {
    position: absolute;
    top: 16px;
    width: 24px;
    height: 24px;
    z-index: 1;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    right: 16px;
    background: rgb(30 30 30 / 30%);
    fill: #fff;
    border-radius: 50%;
}

.tiktok-hq9oz5-DivTuxCloseIconWrapper {
    display: flex;
}

.tiktok-1y3mdxx-DivSuggestedAccounts {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* -webkit-box-align: center;
    align-items: center; */
}

/* body {
    overflow: hidden;
} */

.tiktok-hsy0fo-DivContainer {
    top: 100%;
}

.tiktok-hsy0fo-DivContainer.show {
    top: 0;
}

.tiktok-lzx7z-DivBodyWrapper, .tiktok-1xw8s8f-DivMask {
    transition: all .15s ease-in-out;
}

.tiktok-lzx7z-DivBodyWrapper {
    bottom: -100%;
}

.show .tiktok-lzx7z-DivBodyWrapper {
    bottom: 0px;
}

.tiktok-1xw8s8f-DivMask {
    opacity: 0;
}

.show .tiktok-1xw8s8f-DivMask {
    opacity: 1;
}

.shop-badge {
    background: rgb(30 30 30 / 70%);
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 3px 7px 3px 3px;
}

.shop-badge span:first-child {
    display: inline-block;
    background: #f5b61c;
    padding: 3px;
    border-radius: 3px;
}

.shop-badge span {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
}

.shop-badge span img {
    width: 12px;
}

.index-container--Cpxc8 .index-topContainer--P_jTb {
    -ms-overflow-style: none;
    flex: 1 1;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.index-wrapper--vlHje {
    position: relative;
}

.mx-16 {
    margin-left: 16px;
    margin-right: 16px;
}

.index-wrapper--UNFDC {
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    position: relative;
    width: 100%;
}

.index-wrapper--UNFDC .index-iconwrapper--Chrg7 {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin-right: 21px;
    width: 53px;
}

.index-wrapper--UNFDC:after {
    border-radius: 0;
    border-top: 1px solid rgba(22,24,35,.2);
    box-sizing: border-box;
    content: " ";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform-origin: 0 0;
    width: 100%;
    z-index: 0;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.w-full {
    width: 100%;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.rounded {
    border-radius: 2px;
}

.border-0 {
    border-width: 0;
}

.border-solid {
    border-style: solid;
}

.box-border {
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.appearance-none {
    -webkit-appearance: none;
    appearance: none;
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.select-none {
    -webkit-user-select: none;
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.text-color-ConstTextInverse {
    color: #fff;
    /* color: var(--ConstTextInverse); */
}

.background-color-Primary {
    background-color: #fe2c55;
    /* background-color: var(--Primary); */
}

.H4-Bold, .H4-Regular, .H4-SemiBold {
    font-size: 15px;
    line-height: 18px;
}

.H4-SemiBold {
    font-weight: 600;
}

.tux-button {
    vertical-align: middle;
}

.index-wrapper--UNFDC .index-button--_wDVN {
    display: inline-block;
    flex: 1 1;
}

svg {
    fill: inherit;
}

.tiktok-6yb2an-StyledLink-StyledFooterItemLink svg, .tiktok-1s4xaxc-StyledLink-StyledLinkSearch {
    fill: #fff;
}

.index-topContainer--P_jTb {
    -ms-overflow-style: none;
    flex: 1 1;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    scrollbar-width: none;
}

.slick-slider {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none;
}

.slick-list, .slick-slider {
    display: block;
    position: relative;
}

.index-carousel--f_IiY {
    font-size: 0;
}

.index-pagination--qsuuj {
    align-items: center;
    background-color: rgba(37,37,37,.6);
    border-radius: 2px;
    bottom: 16px;
    color: hsla(0,0%,100%,.9);
    display: inline-flex;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    line-height: 17px;
    padding: 2px 7px;
    position: absolute;
    right: 16px;
}

.slick-list {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translateZ(0);
}

.slick-track {
    display: block;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translateZ(0);
}

.slick-track:after, .slick-track:before {
    content: "";
    display: table;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-initialized .slick-slide {
    display: block;
}

.index-item--YMtuz {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.index-item--YMtuz img {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.slick-slide img {
    display: block;
}

.index-container--IjNFo {
    padding: 16px 0;
}

.index-price--msYWD {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    align-items: center;
    color: var(--text-primary);
    display: -webkit-box;
    display: flex;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.index-container--IjNFo .index-price--msYWD {
    font-weight: 600;
}

.text-theme, .index-container--IjNFo .index-price--msYWD {
    color: #fe2c55;
}

.index-container--IjNFo .index-original--qrdmd {
    align-items: center;
    display: flex;
    margin-bottom: 9px;
}

.index-container--IjNFo .index-original-price--mtoHR {
    color: rgba(22,24,35,.5);
    font-size: 13px;
    line-height: 17px;
    text-decoration: line-through;
}

.index-container--IjNFo .index-original-discount--g55Xf {
    background: rgba(254,44,85,.06);
    border-radius: 2px;
    color: #fe2c55;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    margin-left: 4px;
    padding: 0 5px;
}

.index-container--IjNFo .index-info--rYZWz {
    align-items: center;
    color: rgba(22,24,35,.5);
    display: flex;
    justify-content: space-between;
}

.index-container--IjNFo .index-info__sold--Kje96 {
    color: rgba(22,24,35,.5);
    font-size: 14px;
}

.index-container--IjNFo .index-info__sold--Kje96 strong {
    color: #161823;
}

.index-container--IjNFo .index-title--OGa3z {
    display: -webkit-box;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 8px;
    word-break: break-word;
}

@media (-webkit-min-device-pixel-ratio: 3) {
    .index-wrapper--UNFDC:after {
        border-radius: 0;
        height: 300%;
        transform: scale(.333);
        width: 300%;
    }
}